<h3 class="text-center">
    安装Nginx
</h3>
<p>
    Nginx可以以不同的方式，安装到不同的操作系统中。
</p>
<h4>
    Linux上安装Nginx
</h4>
<p>
    对于Linux操作系统，可以使用操作系统本身提供的包管理命令直接安装对应的Nginx包。
</p>
<h4>
    FreeBSD上安装Nginx
</h4>
<p>
    对于FreeBSD操作系统，可以使用包管理命令或者ports系统安装Nginx。ports系统提供了更好的灵活性，允许指定更多的选项。
    ports系统会根据指定的选项编译Nginx，最终安装Nginx。
</p>
<h4>
    从源码安装Nginx
</h4>
<p>
    如果需要的某些功能不能通过包管理命令或ports系统安装的Nginx获得，可以选择从源码包安装Nginx。
    尽管使用源码安装的灵活性更高，但是对于初学者来说可能有点复杂。
</p>
<p>
    使用<code>configure</code>命令配置构建。通过该命令可以指定不同的构建参数，包括在处理链接时Nginx可以使用的方法；命令执行结束后，
    会生成<code>Makefile</code>文件。<code>configure</code>命令允许使用的参数包括：
</p>
<ul>
    <li>
        <code>--prefix=path</code> - 指定保存服务文件的目录。通过命令<code>configure</code>指定的其他路径（库文件除外），
        以及在配置文件<code>nginx.conf</code>中指定的路径都是相对于该参数指定的路径。该参数默认为：<code>/usr/local/nginx</code>
    </li>
    <li>
        <code>--sbin-path=path</code> - 指定Nginx可执行程序的名称。只有在安装Nginx时使用该参数。该参数默认为：<code>prefix/sbin/nginx</code>
    </li>
    <li>
        <code>--conf-path=path</code> - 指定Nginx配置文件的名称。启动Nginx时，可以通过参数<code>-c</code>指定需要使用的配置文件，
        如果不指定，则使用默认的配置文件，即该参数指定的值。该参数默认为：，<code>prefix/conf/nginx.conf</code>
    </li>
    <li>
        <code>--pid-path=path</code> - 指定文件nginx.pid的名称，该文件保存了Nginx服务主进程的进程号。
        成功安装后，可以在<code>nginx.conf</code>配置文件中通过<code>pid</code>指令修改该参数指定的值。
        该参数默认为：<code>prefix/logs/nginx.pid</code>
    </li>
    <li>
        <code>--error-log-path=path</code> - 指定错误日志的名称。成功安装后，可以在<code>nginx.conf</code>配置文件中通过
        <code>error-log</code>指令修改该参数指定的值。该参数默认为：<code>prefix/logs/error.log</code>
    </li>
    <li>
        <code>--http-log-path=path</code> - 指定访问HTTP服务的请求记录文件名称。成功安装后，
        可以在<code>nginx.conf</code>配置文件中通过<code>access_log</code>指令修改该参数指定的值。
        该参数默认为：<code>prefix/logs/access.log</code>
    </li>
    <li>
        <code>--user=name</code> - 指定Nginx的工作进程的归属用户。成功安装后，可以在<code>nginx.conf</code>配置文件中通过
        <code>user</code>指令修改该参数指定的值。该参数默认为：<code>nobody</code>
    </li>
    <li>
        <code>--group=name</code> - 指定Nginx的工作进程的归属用户组。成功安装后，可以在<code>nginx.conf</code>配置文件中通过
        <code>user</code>指令修改该参数指定的值。该参数默认为：<code>非特权用户所属组</code>
    </li>
    <li>
        <code>--with-select_module | --without-select_module</code> - 启用或禁用模块，该模块允许服务器使用<code>select()</code>方法。
        如果操作系统不支持其他更高效的方法（kqueue, epoll, poll），Nginx会自动启用该模块。
    </li>
    <li>
        <code>--with-poll_module | --without-poll_module</code> - 启用或禁用模块，该模块允许服务器使用<code>poll()</code>方法，
        如果操作系统不支持其他更高效的方法（kqueue, epoll），Nginx会自动启用该模块。
    </li>
    <li>
        <code>--without-http_gzip_module</code> - 禁用模块，该模块允许HTTP服务器对返回结果进行压缩。该模块依赖zlib库。
    </li>
    <li>
        <code>--without-http_rewrite_module</code> - 禁用模块，该模块允许HTTP服务器重定向用户请求或者改变用户的原始请求URI。该模块依赖PCRE库。
    </li>
    <li>
        <code>--without-http_proxy_module</code> - 禁用模块，该模块允许HTTP服务器使用代理。
    </li>
    <li>
        <code>--with-http_ssl_module</code> - 启用模块，该模块允许HTTP服务器使用HTTPS协议。默认不构建该模块。
        该模块依赖OpenSSL库。
    </li>
    <li>
        <code>--with-pcre=path</code> - 指定PCRE库的源码路径。
    </li>
    <li>
        <code>--with-pcre-jit</code> - 启用PCRE库的‘just-in-time’支持。
    </li>
    <li>
        <code>--with-zlib=path</code> - 指定zlib库的源码路径。
    </li>
    <li>
        <code>--with-cc-opt=parameters</code> - 添加附加参数到变量CFLAGS中。当在FreeBSD系统下使用PCRE库时，应该指定
        --with-cc-opt="-I /usr/local/include"。如果需要增加<code>select()</code>方法支持的文件数量，可以指定
        --with-cc-opt="-D FD_SETSIZE=2048"。
    </li>
    <li>
        <code>--with-ld-opt=parameters</code> - 添加链接时使用到的额外参数。当在FreeBSD系统下使用PCRE库时，
        应该指定：--with-ld-opt="-L /usr/local/lib"。
    </li>
</ul>
<div class="panel panel-default">
    <div class="panel-heading">
        以下示例展示了上述参数的使用（注意：下述命令应该在同一行中指定）
    </div>
    <div class="panel-body">
        <code>
            ./configure<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;--sbin-path=/usr/local/nginx/nginx<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;--conf-path=/usr/local/nginx/nginx.conf<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;--pid-path=/usr/local/nginx/nginx.pid<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;--with-http_ssl_module<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;--with-pcre=../pcre-4.4<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;--with-zlib=../zlib-1.1.3
        </code>
    </div>
</div>